* {
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Chelsea Market', cursive;
}

header {
	background: #aa4ee0;
	padding: 10px 0;
	position: fixed;
	left: 0;
	right: 0;
}

.title {
  font-size: 30px;
  text-align: center;
}

header nav ul li {
	display: inline;
}

header nav a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 25px;
	margin: 0 20px;
}

header nav a:hover {
  color: #ffff00;
}

header nav a:active {
  color: #00ffff
}

.background-image {
  background-image: url("../images/pawprint.png");
  background-attachment: fixed;
  background-size: cover;
  padding: 200px 0;
  text-align: center;
}
