* {
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Chelsea Market', cursive;
}

header {
	background: #aa4ee0;
	padding: 8px 0;
	position: fixed;
	left: 0;
	right: 0;
}

.title {
  font-size: 18px;
  text-align: center;
}

header nav ul li {
	display: inline;
}

header nav a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	margin: 0 20px;
}

header nav a:hover {
  color: #ffff00;
}

header nav a:active {
  color: #00ffff
}

.background-image {
  background-image: url("../images/pawprint.png");
  background-attachment: fixed;
  background-size: cover;
  padding: 200px 0;
  text-align: center;
}

.dates {
  box-sizing: content-box;
  width: 900px;
  height: 600px;
  padding: 50px;
  border: 5px solid white;
}

.dates {
  margin-left: auto;
  margin-right: auto;
}

img.welcome {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dates h1 {
  font-size: 75px;
  color: #febd75;
  text-align: center;
}

.dates h3 {
  font-size: 30px;
  color: #2ddcda;
  text-decoration: underline;
}

.important {
  font-size: 20px;
  color: #aa4ee0;
}

.dates h3 {
  line-height: 2.0;
}

.meet-teacher {
  background-color: #000000;
  font-size: 20px;
  color: #d8207c;
}
.meet-teacher {
  box-sizing: content-box;
  width: 940px;
  height: 600px;
  padding: 30px;
  border: 5px solid white;
}

.me {
  border: 5px solid #d8207c;
  float:left;
  margin: 35px 20px 35px 35px;
  }

.meet-teacher {
  margin-left: auto;
  margin-right: auto;
}

.meet {
box-sizing: content-box;
width: 500px;
height: 380px;
padding: 30px;
float: right;
text-align: justify;
}

.schedule {
  background-color: #000000;
  font-size: 20px;
  color: #d3e57f;
}

.schedule {
  box-sizing: content-box;
  width: 940px;
  height: 600px;
  padding: 35px;
  border: 5px solid white;
}

.schedule {
  margin-left: auto;
  margin-right: auto;
}

.scheduletitle, .times {
  text-align: center;
}

.times {
  color: #aa4ee0;
  font-size: 20px;
  list-style-type: none;
}

.scheduletitle {
  line-height: 3.0;
}

.times {
  line-height: 2.0;
}

.class-photos {
  background-color: #000000;
  font-size: 20px;
  color: #d8207c;
  text-align: left;
}

.class-photos {
  box-sizing: content-box;
  width: 940px;
  height: 600px;
  padding: 35px;
  border: 5px solid white;
}

.class-photos {
  margin-left: auto;
  margin-right: auto;
}

.Rocky_Beach {
  position: absolute;
  overflow: hidden;
  margin-left: 225px;
  margin-right: auto;
}

.contact-section {
  background-color: #000000;
  font-size: 15px;
}

.contact-section {
  box-sizing: content-box;
  width: 940px;
  height: 600px;
  padding: 35px;
  border: 5px solid white;
}

.contact-section {
  margin-left: auto;
  margin-right: auto;
}

.contact {
  color: #00ff00;
  text-align: center;
  margin-left: 125px;
}

.school {
  color: #aa4ee0;
  text-align: left;
}

.greenpaw {
  float: left;
  margin: 100px 150px 100px 350px;
}

label,
.label_input_wrap {
  display: block;
  font-size: 15px;
  font-weight: bold;
  color: #aa4ee0;
  font-family: 'Chelsea Market', cursive;
}

input,
textarea {
    border: 1px solid black;
		padding: 4px 5px;
}

input[type="submit"] {
    padding: 6px 52px;
    background: #aa4ee0;
    color: white;
    font-weight: bold;
    font-family: 'Chelsea Market', cursive;
    border: none;
}

footer {
  background-image: url("../images/pawprint.png");
  background-attachment: fixed;
  background-size: cover;
  padding: 200px 0;
}

.follow {
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Chelsea Market', cursive;
  color: white;
  text-align: left;
  margin-left: 10px;
}

.facebook {
  float: left;
  margin-top: -100px;
}

.greenpaw {
  animation: rotate 3s linear;
  animation-iteration-count: infinite;
}

@keyframes rotate {
	0% {
		transform: rotateX(0deg);
	}

	50% {
		transform: rotateX(-180deg);
	}

	100% {
		transform: rotateX(0deg);
	}
}
